@page "/"
@inject IJSRuntime JsRuntime

<div class="col-md-9 col-md-offset-3">
    <div class="posts">

        @if (_formType == Models.EnumFormType.List)
        {

            if (_artList is not null && _artList.Count > 0)
            {
                <div class="posts-inner grid-layout">

                    @foreach (var item in _artList)
                    {
                        <article class="post" @onclick="()=>FormType(item.ArtistId)">
                            <div class="post-header">
                                <h2 class="title">
                                    <a href="javascript:void(0);">
                                        @item.ArtName
                                    </a>
                                </h2>
                            </div>
                            <div class="post-media">
                                <a href="javascript:void(0);">
                                    <img src="@item.ArtPath" alt="Post">
                                </a>
                            </div>
                            <div class="post-content">

                                <!-- The Content -->
                                <div class="the-excerpt">
                                    <p>
                                        @item.ArtDescription
                                    </p>
                                </div>
                                <!-- End The Content -->
                            </div>
                        </article>
                    }
                </div>
            }
        }
        else
        {
            if (_artListAndProfile is not null)
            {
                if (_artListAndProfile.Artist is not null)
                {
                    string profileUrl = $"art-gallery/profile/{_artListAndProfile.Artist.ArtistId}.jpg";
                    <div class="contact-item form-submit text-center">
                        <MudAvatar Style="height:70px; width:70px; font-size:2rem;">
                            <MudImage Src="@profileUrl"></MudImage>
                        </MudAvatar>
                        <h4>
                            @_artListAndProfile.Artist.ArtistName
                        </h4>
                        <div class="socials">
                            @foreach (var item in _artListAndProfile.Artist.Social.Where(x => x.Link is not null && x.Link != ""))
                            {
                                <a href="@item.Link"
                                   target="_blank">
                                    <MudButton Variant="Variant.Filled">
                                        <i class="fa fa-@item.Name"></i>
                                    </MudButton>
                                </a>
                            }
                        </div>
                    </div>
                }
                <div class="contact-item form-submit text-center">
                    @* <input type="button" class="submit" value="Back" @onclick="Back"> *@
                    <MudIconButton Icon="@Icons.Material.Filled.KeyboardBackspace" aria-label="back" @onclick="Back"></MudIconButton>
                </div>
                <div class="posts-inner list-layout">
                    @foreach (var item in _artListAndProfile.ArtAndArtistLst)
                    {
                        <article class="post" @onclick="()=>FormType(item.ArtistId)">
                            <div class="post-media" style="background-image: url(@item.ArtPath)">
                                <a href="javascript:void(0);">
                                    <img src="@item.ArtPath" alt="Post">
                                </a>
                            </div>
                            <div class="post-content">
                                <div class="post-header">
                                    <h2 class="title">
                                        <a href="javascript:void(0);"> @item.ArtName</a>
                                    </h2>
                                </div>
                                <!-- The Content -->
                                <div class="the-excerpt">
                                    <p>
                                        @item.ArtDescription
                                    </p>
                                </div>
                                <!-- End The Content -->
                            </div>

                        </article>
                    }
                </div>
            }
        }
    </div>
</div>