@page "/"
@inject IJSRuntime JsRuntime

<div class="col-md-9 col-md-offset-3">
    <div class="posts">

        @if (_formType == Models.EnumFormType.List)
        {

            if (_artList is not null && _artList.Count > 0)
            {
                <div class="posts-inner grid-layout">

                    @foreach (var item in _artList)
                    {
                        <article class="post" @onclick="()=>FormType(item.ArtistId)">
                            <div class="post-header">
                                <h2 class="title">
                                    <a href="javascript:void(0);">
                                        @item.ArtName
                                    </a>
                                </h2>
                            </div>
                            <div class="post-media">
                                <a href="javascript:void(0);">
                                    <img src="@item.ArtPath" alt="Post">
                                </a>
                            </div>
                            <div class="post-content">

                                <!-- The Content -->
                                <div class="the-excerpt">
                                    <p>
                                        @item.ArtDescription
                                    </p>
                                </div>
                                <!-- End The Content -->
                            </div>
                        </article>
                    }
                </div>
            }
        }
        else
        {
            if (_artListByArtist is not null && _artListByArtist.Count > 0)
            {
                <div class="posts-inner grid-layout">
                    @foreach (var item in _artListByArtist)
                    {
                        <article class="post" @onclick="()=>FormType(item.ArtistId)">
                            <div class="post-header">
                                <h2 class="title">
                                    <a href="javascript:void(0);">
                                        @item.ArtName
                                    </a>
                                </h2>
                            </div>
                            <div class="post-media">
                                <a href="javascript:void(0);">
                                    <img src="@item.ArtPath" alt="Post">
                                </a>
                            </div>
                            <div class="post-content">

                                <!-- The Content -->
                                <div class="the-excerpt">
                                    <p>
                                        @item.ArtDescription
                                    </p>
                                </div>
                                <!-- End The Content -->
                            </div>
                        </article>
                    }
                </div>
                <!-- Pagination -->
                <div class="pagination-wrap">
                    <div class="older">
                        <a href="javascript:void(0);" @onclick="Back">
                            Back
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                    </div>
                </div>
                <!-- End Pagination -->
            }
        }
    </div>
</div>